@charset "UTF-8";
body {
	margin: 0px;
	background-color: #DFDFDF;
}
.omhulsel{
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 5px;
	padding-left: 15px;
}
.tekstlinksuitgelijnd{
	float: left;
	padding-top: 15px;
	width: 48%;
}
.tekstrechtsuitgelijnd{
	float: right;
	width: 48%;
	padding-top: 15px;
}
.afbeeldingrechtsuitgelijnd  {
	float: right;
	height: auto;
	margin-bottom: 7px;
	width: 48%;
	margin-left: 15px;
}
.afbeeldinglinksuitgelijnd  {
	float: left;
	height: auto;
	margin-bottom: 7px;
	width: 48%;
	margin-right: 15px;
}
.afbeeldingrechtsuitgelijnd > img{
	max-width:100%;
	padding-top: 30px;
	float: right;
}
.afbeeldingrechtsuitgelijnd > img{
	max-width:100%;
	padding-top: 30px;
}

a {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 0.9em;
	font-style: italic;
	color: #385030;
}
a:hover {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 0.9em;
	font-style: italic;
	color: #B5C6AE;
}
/* CSS Document */

p.MsoNormal {
margin:0cm;
margin-bottom:.0001pt;
font-size:11.0pt;
font-family:Arial;
}
.clear {
	clear: both;
}
